@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

@theme {
  /** Base colors */
  --color-dark-a0: #000000;
  --color-light-a0: #ffffff;

  /** Theme primary colors */
  --color-primary-a0: #0033ff;
  --color-primary-a10: #162edf;
  --color-primary-a20: #1e2ac1;
  --color-primary-a30: #2225a3;
  --color-primary-a40: #222086;
  --color-primary-a50: #201b6a;

  /** Theme surface colors */
  --color-surface-a0: #ffffff;
  --color-surface-a10: #f0f0f0;
  --color-surface-a20: #e1e1e1;
  --color-surface-a30: #d3d3d3;
  --color-surface-a40: #c5c5c5;
  --color-surface-a50: #b6b6b6;

  /** Success (green) */
  --color-success-a0: #166534;
  --color-success-a10: #22c55e;
  --color-success-a20: #dcfce7;

  /** Warning (amber) */
  --color-warning-a0: #92400e;
  --color-warning-a10: #f59e0b;
  --color-warning-a20: #fef3c7;

  /** Danger (red) */
  --color-danger-a0: #991b1b;
  --color-danger-a10: #ef4444;
  --color-danger-a20: #fee2e2;

  /** Info (blue) */
  --color-info-a0: #1e3a8a;
  --color-info-a10: #3b82f6;
  --color-info-a20: #dbeafe;
}

@layer base {
  body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-surface-a0);
    color: var(--color-dark-a0);
  }

  .input {
    @apply mt-1 block w-full px-3 py-2 border border-surface-a30 rounded-md shadow-sm 
  placeholder:text-sm focus:outline-none focus:ring-1 
  focus:ring-primary-a20 focus:border-primary-a20 transition-colors;
  }

  .input-error {
    @apply border-danger-a0 focus:ring-danger-a0 focus:border-danger-a0 bg-red-50;
  }

  .label {
    @apply block font-medium text-dark-a0/80;
  }

  .error-text {
    @apply text-danger-a0 text-sm mt-1;
  }
}
